# Archivos de configuración local
/.auto_push.py
/auto_push.log

# Entornos virtuales
/venv/
/venv*
ENV/

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Archivos de configuración de Python
.python-version

# Archivos de configuración de IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Archivos de base de datos local
*.sqlite3
*.db
*.sql

# Archivos de registro
*.log

# Archivos temporales
.temp/
tmp/

# Archivos de sistema
.DS_Store
Thumbs.db
