[Unit]
Description=HostBerry Web Configuration Interface
After=network.target

[Service]
User=root
WorkingDirectory=/opt/hostberry
ExecStart=/usr/bin/python3 /opt/hostberry/app.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target